.playlist {
    margin-top: 51px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
}

.filter {
    margin-top: 45px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchBy {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    /* position: relative; */
}

/* playlist.module.css */
.item {
    cursor: pointer;
    position: relative;
}

/* Стили для span внутри .item */
.item span {
    padding: 9px 20px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.3s ease; /* Плавное изменение стилей */
}

/* Стили для span внутри .item при наведении */
.item span:hover {
    border-color: #B672FF;
    color: #B672FF;
}

/* Активное состояние для span внутри .item */
.item.active span {
    border-color: #B672FF !important;
    color: #B672FF !important;
}



.playlistContent {
    margin-top: 51px;
}

.playlistTitles {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
}

.track {
    width: 447px;
}

.performer {
    width: 321px;
}

.album {
    width: 245px;
}

.duration {
    width: 67px;
    text-align: right;
}

.trackList {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    height: 400px;
    padding-right: 12px;
}

.trackItem {
    display: flex;
    align-items: center;
}

.trackTitle {
    width: 447px;
    display: flex;
    align-items: center;
    gap: 17px;
    color: #ffffff;
}

.image {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.trackAuthor {
    width: 321px;
    color: #ffffff;
}

.trackAlbum {
    width: 245px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
}

.trackTime {
    width: 245px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
    width: 67px;
    display: flex;
    align-items: center;
    gap: 17px;
}

.note {
    color: #313131;
}

.likeIcon {
    color: #181818;
}